{% extends 'base.html' %}

{% block title %}Dashboard | Manage visit{% endblock title %}

{% block body %}
{% load static %}

<div id="xyz" style="padding-top: 2%;">
    <br>
    <br>
    <div style="padding-left: 2%;">
        <div class="main-content">
            <div class="row">
                <div class="col-md-12">
                    <h2>Search Filters</h2>
                    <input type="text" id="searchInput" onkeyup="searchTable()" placeholder="Search for any value..">
                </div>
            </div>
        </div>
        {% if data %}
        &nbsp;
        <div class="dashboard-card">
            <h2 class="card-title">Cancel Records</h2>
            <p class="card-content"></p>
        </div>
    </div>

    <div style="padding-bottom: 1%; margin: 2%; display: flex; justify-content: center;">
        <div style="width: 90%;">
            <table id="dataTable"
                style="background-color: #8BC6EC; background-image: linear-gradient(135deg, #ffffff 0%, #b9bdff 100%); color: #000000; width: 100%;">

                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Checking</th>
                        <th>College Name</th>
                        <th>Faculty Name</th>
                        <th>No. Of Faculty</th>
                        <th>Contact No</th>
                        <th>College Address</th>
                        <th>No. Of Students</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in data %}
                    {% if i.status == 'Deleted' %}
                    <tr>
                        <td>{{ i.date }}</td>
                        <td>{{ i.checking }}</td>
                        <td>{{ i.collagename }}</td>
                        <td>{{ i.facultyname }}</td>
                        <td>{{ i.nooffaculty }}</td>
                        <td>{{ i.contactno }}</td>
                        <td>{{ i.collageadd }}</td>
                        <td>{{ i.numberofstud }}</td>
                        <td><b>{{ i.status }}</b></td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div>
        {% else %}
        <center>
            <h3>Empty Data</h3>
        </center>
        {% endif %}
        <!-- Placeholder content for other dashboard sections -->
    </div>

    <script>
        function searchTable() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("dataTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td");
                for (var j = 0; j < td.length; j++) {
                    cell = tr[i].getElementsByTagName("td")[j];
                    if (cell) {
                        txtValue = cell.textContent || cell.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                            break;
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        }
    </script>
</div>
{% endblock body %}